html {
    background-image: linear-gradient(45deg, lightblue, rgba(130, 189, 210));
    font-family: Tahoma, sans-serif;
}

a:link, a:visited {
    color:rgba(250,84,122,1);
}

a:hover {
    border-top: 2px solid rgba(250,84,122,1);
}

.links {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:rgba(250,84,122,1);
}

h1, h2{
    color: rgba(133,13,202,.7);
    margin: 0;
    text-align: center;
}

.description {
    color: rgba(133,13,202,.7);
    margin: 0;
    margin-bottom: 15px;
}

ul {
    text-align: center;
    list-style-position: inside;
    color: rgba(133,13,202,.7);
}

.footer {
    text-align: center;
}